
NguyenMinhKhai_PRN232_A01_BE.sln/obj/Debug/net8.0/NguyenMinhKhai_PRN232_A01_BE.sln.AssemblyInfoInputs.cache

NguyenMinhKhai_PRN232_A01_BE.sln/obj/Debug/net8.0/NguyenMinhKhai_PRN232_A01_BE.sln.AssemblyInfo.cs

NguyenMinhKhai_PRN232_A01_BE.sln/obj/NguyenMinhKhai_PRN232_A01_BE.sln.csproj.nuget.dgspec.json

NguyenMinhKhai_PRN232_A01_BE.sln/obj/NguyenMinhKhai_PRN232_A01_BE.sln.csproj.nuget.g.props
